<%= stylesheet_link_tag 'jquery-multiselect/css/bootstrap-multiselect.css' %>
<% if can? :manage, Project%>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createProjectModal">Create Project</button>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ceateTaskModal">Create Task</button>
<button type="button" class="btn btn-info btn-lg" id="showDevProTable">Show Projects</button>
<br><br>

<table class="table table-bordered" id="admin_project_view" style="display: none;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Status</th>
    <%@admin_project_view.each do |project|%>
      <th scope="col"><%=project['name'] if project['name'].present?%></th>
    <%end%>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>New</td>
        <%@admin_project_view.each do |project|%>
          <td><%=project['new'] if project['new'].present?%></td>
        <%end%>
      </tr>
      <tr>
        <td>In Progress</td>
        <%@admin_project_view.each do |project|%>
          <td><%=project['progress'] if project['progress'].present?%></td>
        <%end%>
      </tr>
      <tr>
        <td>Done</td>     
        <%@admin_project_view.each do |project|%>
          <td><%=project['done'] if project['done'].present?%></td>
        <%end%>
      </tr>
    
  </tbody>
</table>

<table class="table table-bordered" id="admin_developer_view" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">Status</th>
    <%@admin_developers_view.each do |developer,i|%>
      <th scope="col"><%=developer['name'] if developer['name'].present?%></th>
    <%end%>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>New</td>
        <%@admin_developers_view.each do |developer,i|%>
          <td><%=developer['new'] if developer['new'].present?%></td>
        <%end%>
      </tr>
      <tr>
        
        <td>In Progress</td>
        <%@admin_developers_view.each do |developer,i|%>
          <td><%=developer['progress'] if developer['progress'].present?%></td>
        <%end%>
      </tr>
      <tr>
        <td>Done</td>
        
        <%@admin_developers_view.each do |developer,i|%>
          <td><%=developer['done'] if developer['done'].present?%></td>
        <%end%>
      </tr>
    
  </tbody>
</table>

<div id="piechart_3d" style="width: 900px; height: 500px;"></div>

<%else%>

<% if user_signed_in? %>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#changeStatusModal">Update Task Status</button>
<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Project Name</th>
      <th scope="col">Project Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  	<%@projects.each_with_index do|project,i|%>
      <tr data-id="<%=project['id']%>">
        <th scope="row"><%= i+1 %></th>
        <td><%=project['name']%></td>
        <td><%=project['description']%></td>
        <td> <a class="view_task" project_id="<%=project['id']%>">Assigned Task</a></td>
      </tr>
    <%end%>
    
  </tbody>
</table>

<%end%>
<%end%>

<% if !user_signed_in? %>
<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Task Management System</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>
<%end%>


<%= render "create_project_modal" %>
<%= render "create_task_modal" %>
<%= render "show_task_modal" %>
<%= render "change_task_status_modal" %>



  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_include_tag "jQuery.js",'jquery-multiselect/js/bootstrap-multiselect.js','bootstrap.min.js',"project.js"%>